
<div>
    <div class = "row">
        <div class="large-6">
            <a ng-href="#/details/{{rank==1?250:rank-1 }}">prev</a>
            <a ng-href="#/details/{{rank==250?1: rank+1 }}">next</a>


        </div>
    </div>
    <div class="row">
        <div class="large-3">
            {{curr_movie.title}};
        </div>
    </div>
    <div class="row">
        <div class="large-3">
            Rank: {{curr_movie.rank}};
        </div>
    </div>
    <div class="row">
        <div class="large-4">
            <img ng-src={{"./data/images/".concat(curr_movie.imdbid).concat(".jpg")}}>
        </div>

        <div class="large-8">ßß
            <p>
                {{curr_movie.plot}}
            </p>
            <span>release: {{curr_movie.released}}</span>
            <span>Runtime: {{curr_movie.runtime}}</span>
            <span>Awards: {{curr_movie.awards}}</span>
        </div>
    </div>

</div>