<div>
    <h1>IMDB Top 250 Movie Directory</h1>
    <p></p>
    <div class="row align-center">
        <div ng-repeat="genre in genres" class="small-2 columns">
            <button class="button" ng-click="myFunc(genre)">{{genre}}</button>

        </div>
    </div>
    <div class="row align-center">
        <div ng-repeat="movie in current_movie" class="small-4 columns">

            <a ng-href="#/details/{{movie.rank}}"><img ng-src="./data/images/{{movie.imdbid}}.jpg">
            </a>
            <!--description for the website -->


        </div>

    </div>
</div>